nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: gray;
  height: 80px;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: gray;
}
